<div class = "chat-header">
  <div class = "caht-name">
  hogefuga
  </div>
  <div class = "chat-exit">
  <a href= "#">チャットを終了する</a>
  </div>
</div>
<div class = "chat_main">
  <div class = "chat">
    <div class = "post">
     <div class = "post-name">
        Tom
      </div>
      <div class = "post-date">
        2022/11/22
      </div>
    </div>
    <div class = "content">
      おはようございます
    </div>
  </div>
    <div class = "chat">
    <div class = "post">
     <div class = "post-name">
        Tom
      </div>
      <div class = "post-date">
        2022/11/22
      </div>
    </div>
    <div class = "content">
      おはようございます
    </div>
  </div>
    <div class = "chat">
    <div class = "post">
     <div class = "post-name">
        Tom
      </div>
      <div class = "post-date">
        2022/11/22
      </div>
    </div>
    <div class = "content">
      おはようございます
    </div>
  </div>
</div> 

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>